streamlit
tinydb
transformers
jinja2
selenium
openai
torch
requests
accelerate
sentencepiece
langchain
langchain-community
sentence-transformers
faiss-cpu
beautifulsoup4
html5lib lxml
langchain-huggingface

