package com.charitableimpact;

import org.openqa.selenium.*;
import org.openqa.selenium.support.ui.Select;

public class {{ class_name }}Page {
    WebDriver driver;

    public {{ class_name }}Page(WebDriver driver) {
        this.driver = driver;
    }

    {% for element in elements %}
    By {{ element.name }}Locator = By.xpath("{{ element.xpath }}");

    public void interactWith{{ element.name|capitalize }}() {
        WebElement element = driver.findElement({{ element.name }}Locator);
        ((JavascriptExecutor) driver).executeScript("arguments[0].scrollIntoView(true);", element);

        {% if element.is_dropdown %}
        Select dropdown = new Select(element);
        dropdown.selectByIndex(1);
        {% elif element.is_textarea %}
        element.clear();
        element.sendKeys("Sample multiline input");
        {% elif element.is_button %}
        element.click();
        {% elif element.is_checkbox %}
        if (!element.isSelected()) {
            element.click();
        }
        {% elif element.is_radiobutton %}
        element.click();
        {% else %}
        element.clear();
        element.sendKeys("Test input");
        {% endif %}
    }

    public By get{{ element.name|capitalize }}Locator() {
        return {{ element.name }}Locator;
    }
    {% endfor %}
}
