package com.charitableimpact;

import org.openqa.selenium.*;
import org.openqa.selenium.support.ui.Select;

public class {{ class_name }}Page {
    WebDriver driver;

    public {{ class_name }}Page(WebDriver driver) {
        this.driver = driver;
    }

    {% for element in elements %}
    By {{ element.name }}Locator = By.{{ element.by | default("xpath") }}("{{ element.selector }}");

    public void interactWith{{ element.name|title|replace('_', '') }}() {
        WebElement element = driver.findElement({{ element.name }}Locator);
        ((JavascriptExecutor) driver).executeScript("arguments[0].scrollIntoView(true);", element);

        {% if element.is_dropdown %}
        Select dropdown = new Select(element);
        dropdown.selectByVisibleText("{{ element.value | default('Option 1') }}");

        {% elif element.is_textarea %}
        element.clear();
        element.sendKeys("{{ element.value | default('Sample multiline input') }}");

        {% elif element.is_button %}
        element.click();

        {% elif element.is_checkbox %}
        boolean shouldCheck = {{ element.should_check | default(True) | string|lower }};
        if (shouldCheck && !element.isSelected()) {
            element.click();
        } else if (!shouldCheck && element.isSelected()) {
            element.click();
        }

        {% elif element.is_radiobutton %}
        element.click();

        {% elif element.is_fileupload %}
        element.sendKeys("{{ element.file_path | default('/path/to/file.png') }}");

        {% else %}
        element.clear();
        element.sendKeys("{{ element.value | default('Test input') }}");
        {% endif %}
    }

    public By get{{ element.name|title|replace('_', '') }}Locator() {
        return {{ element.name }}Locator;
    }
    {% endfor %}
}
